

/* Utilities */
.container {
    width: 50%;
    margin: 0% auto;
    
     
}

header {
    background-image:url("../pattern.png") ;
    background-color: rgb(100, 151, 245);
    
}

.logo {
    width: 15%;
    padding-top: 5%;

}
