

/* Utilities */
.container {
    width: 50%;
    margin: 0% auto;
    
     
}

/* Header content */
header {
    background-image:url("../pattern.png") ;
    background-color: rgb(100, 151, 245);
    
}

.logo {
    width: 15%;
    padding-top: 5%;

}
/*  Main section */
.color {
    color: blue;
}

h1 {
    margin-top: 3%;
}

p {
    margin: auto;
}

.Font {
    font-size: 60%;
}

.Image1 {
    background-image: url(../img/tim-1.jpg);
    width: 53%;
}
.Image2 {
    background-image: url(../img/tim-2.jpg);
    width: 45%;
}

.distance {
    margin-top: 2%;
}

.Yellow {
    background-color: rgb(248, 190, 113);
}

.Table {
    width: 90%;
}
/* Footer */

h5 {
    color: darkgrey;
}
/* divisore immagini */
.padding {
    margin-top: 3%;
}
/* inserzione testo nelle immagini */
.insert {
        margin: 0px;
        background-image: url(../img/monitor.jpg);
        background-repeat: no-repeat;
        color: #FFFFFF;
        background-color: red;
        font-size: 120%;
        font-weight: normal;
        line-height: 60px;
       text-align: center ;
        width: 240px;
        height: 150px;
        
}

.insert2 {

    margin: 0px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: red;
    font-size: 120%;
    font-weight: normal;
    line-height: 60px;
   text-align: center ;
    width: 240px;
    height: 150px;
    margin-top: 1%;
}
